ion-select {
  --padding-start: 4px;
  --padding-end: 4px;
  font-size: 0.75rem;
  min-height: 32px;
}

ion-select::part(icon) {
  font-size: 14px;
  opacity: 0.5;
}

ion-input.huge-input {
  line-height: 1;
  margin-top: 8px;
}

/* Specific styling for the result card input to make it pop */
.result-card {
  box-shadow: 0 10px 30px -10px rgba(6, 165, 218, 0.2);
}
